$color-light: #ffffff;
$color-dark: #3e3f3a;
$color-gray: #ebefeb;
$color-dark-gray: #a1a497;//#72736a;
$color-primary: #325d88;
$color-success: #93c54b;
$color-info: #29abe0;
$color-warning: #f47c3c;
$color-danger: #d9534f;
